<!DOCTYPE html>
<html>
<head>
	<title>Interface</title>
	<link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
	<link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
	<link rel="manifest" href="static/site.webmanifest">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<nav class="global-header hidden-print">
			<div class="container">
			<a class="navbar-brand"><img class="logo" src="https://stijl.kuleuven.be/2016/img/svg/logo.svg" width="157" height="56"></a>
			</div>
	</nav><br>
	<div id="main">
		<div id="controls">
			<div class="title" id="titleQuickControls">Quick Controls</div>
			<div id="setupDiv">
				<button class="button findOdriveBtn" id="findOdriveBtn" name="findOdriveBtn" type="submit">FindOdrive</button>
				<button class="button calibrateBtn" id="calibrateBtn"name="calibrateBtn" type="submit">Calibrate</button>
				<button class="button engageBtn" id="engageBtn"name="engageBtn" type="submit">Engage</button>
				<button class="button idleBtn" id="idleBtn"name="idleBtn" type="submit">Idle</button>
				Connected:<div id="connectedODrive">no connection</div>
			</div><br>
			<div id="speedDiv">
				<b>Speed</b>
				<!-- <form action="/speed/" method="POST"> -->
				<form id="speedForm" onsubmit="speedSubmit();return false;" name="speed">
					<input class="speed" type="text" id="speed_input" name="speed_input" value="{{ speed }}">m/s
				</form>
				<!-- </form> -->
			</div><br>
			<div id="speedDiv">
				<b>Acceleration</b>
				<!-- <form action="/accel/" method="POST"> -->
				<form id="accelForm" onsubmit="accelSubmit();return false;" name="accel">
					<input class="accel" type="text" id="accel_input" name="accel_input" value="{{ accel }}">m/s
				</form>
				<!-- </form> -->
			</div><br>
			<div id="speedDiv">
				<b>Go To</b>
				<!-- <form action="/accel/" method="POST"> -->
				<form id="gotoForm" onsubmit="gotoSubmit();return false;" name="goto">
					<input class="goto" type="text" id="goto_input" name="goto_input" value="{{ goto }}">m
				</form>
				<!-- </form> -->
			</div><br>
			<div id="speedDiv">
				<b>Set unit distance</b>
				<!-- <form action="/accel/" method="POST"> -->
				<form id="unitDistForm" onsubmit="unitdistSubmit();return false;" name="unitdist">
					<input class="unitDist" type="text" id="unitdist_input" name="unitdist_input" value="{{ unitdist }}">m
				</form>
				<!-- </form> -->
			</div><br>
			<div id="quantMotionDiv">
				<button class="button nextPosBtn" id="nextPosBtn" name="nextPosBtn" type="submit">Next position</button>
				<button class="button prevPosBtn" id="prevPosBtn"name="prevPosBtn" type="submit">Previous position</button>
			</div><br>
		</div>

		<div id="trackBuilder">
			<div class="title" id="titleTrackBuilder">Track Builder</div>
			<!--Trackbuilder-->
			<div id="trackRecorder">
				<!-- <form action="/playTrack/" method="POST"> -->
					<button class="button setStartBtn" id="setStartBtn" name="setStartBtn" type="submit">Set start</button>
					<button class="button setEndBtn" id="setEndBtn" name="setEndBtn" type="submit">Set end</button><br>
					<button class="button playTrackBtn" id="playTrackBtn" name="playTrackBtn" type="submit">Play track</button>
					<button class="button resetPosBtn" id="resetPosBtn" name="resetPosBtn" type="submit">Reset position</button>
				<!-- </form>--><br> 
			</div>
			<div class="crossed" id="trackVisualizer">Under Construction</div>
			<div id="trackValues">
				<div class="title" id="titleCurrentValues">Current Values</div>
				<!-- <h4><u>Current values</u></h4> -->
				Track distance = <div id="trackDistance"></div> m <br>
				<!-- Current speed = {{ current_speed }} m/s <br> -->
				Current pos precise= <div id="currentPos"></div>m<br>
				Current speed = <div id="currentSpeed"></div>m/s<br>
			</div>
		</div>

		<div id="debugWindow"></div>
	</div>

	<script>
		//Variables
		var condData;
		// var ODriveName = "no connection";
		var ODriveName = "test"; //TODO: Remove, enkel voor test debugging

		var unitDistance;
		var currPosition = 0;

	  	// JavaScript code to update the debugging window
	  	function updateDebugWindow(message) {
	    	var debugWindow = document.getElementById("debugWindow");
	    	debugWindow.innerHTML += message + "<br>";

	    	// Scroll to the bottom of the window
	    	debugWindow.scrollTop = debugWindow.scrollHeight;
	  	}

	  	// Fetch debug messages from the server and update the window
	  	fetch('/debug_messages/')
	    	.then(response => response.json())
	    	.then(data => {
	      		data.forEach(message => {
	        	updateDebugWindow(message);
	      	});
	    })
	    .catch(error => console.log(error));

		// Set unit distance function
		function unitdistSubmit() {
			var form = parseFloat(document.getElementById('unitdist_input').value);
			console.log(form);
			unitDistance = form;
		}

		// Go to next unit distance
		const nextPosButton = document.getElementById('nextPosBtn');
		
		nextPosButton.addEventListener('click', function (event) {
			
			var nextPosition = currPosition + unitDistance;
			
			const gotoNext = function(_nextPosition) {
				fetch('/goto/', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({gotoData: _nextPosition})
					})
					.then(response => response.text())
					.then(result => {
					console.log(result);
					updateDebugWindow(result);
					})
					.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
					});
			}
			gotoNext(nextPosition)
			currPosition = nextPosition
		});

		// Go to previous position
		const prevPosButton = document.getElementById('prevPosBtn');
		
		prevPosButton.addEventListener('click', function (event) {
			
			var prevPosition = currPosition - unitDistance;
			
			const gotoNext = function(_prevPosition) {
				fetch('/goto/', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({gotoData: _prevPosition})
					})
					.then(response => response.text())
					.then(result => {
					console.log(result);
					updateDebugWindow(result);
					})
					.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
					});
			}
			gotoNext(prevPosition)
			currPosition = prevPosition
		});

		//Speed change Function
		function speedSubmit() {
			var form = document.getElementById('speed_input').value;
			console.log(form);
			fetch('/speed/', {
				  method: 'POST',
				  headers: {
				    'Content-Type': 'application/json'
				  },
				  body: JSON.stringify({speedData: form})
				})
				.then(response => response.text())
				.then(result => {
				  console.log(result);
				  updateDebugWindow(result);
				})
				.catch(error => {
				  console.error('Error:', error);
				  updateDebugWindow('Error:', error);
				});

		}
		

		//goto Function
		function gotoSubmit() {
			var form = document.getElementById('goto_input').value;
			currPosition = parseFloat(form)
			// const gotoData = Object.fromEntries(new FormData(form).entries());
			console.log(form);
			fetch('/goto/', {
				  method: 'POST',
				  headers: {
				    'Content-Type': 'application/json'
				  },
				  body: JSON.stringify({gotoData: form})
				})
				.then(response => response.text())
				.then(result => {
				  console.log(result);
				  updateDebugWindow(result);
				})
				.catch(error => {
				  console.error('Error:', error);
				  updateDebugWindow('Error:', error);
				});

		}
		
		//accel change Function
		function accelSubmit() {
			var form = document.getElementById('accel_input').value;
			// const accelData = Object.fromEntries(new FormData(form).entries());
			console.log(form);
			fetch('/accel/', {
				  method: 'POST',
				  headers: {
				    'Content-Type': 'application/json'
				  },
				  body: JSON.stringify({accelData: form})
				})
				.then(response => response.text())
				.then(result => {
				  console.log(result);
				  updateDebugWindow(result);
				})
				.catch(error => {
				  console.error('Error:', error);
				  updateDebugWindow('Error:', error);
				});

		}

		//Play Track
		const playTrackBtn = document.getElementById('playTrackBtn');

		playTrackBtn.addEventListener('click', function (event) {
				updateDebugWindow("Track being played");
				const getTrackPlay = function() {
					fetch(`/playTrack/`)  // send request to route /cartData
				        .then(response => response.text())
        				.then(result => {
        					updateDebugWindow(result);
        				})
        				.catch(error => {
        					console.error('Error:', error);
        					updateDebugWindow('Error:', error);
        				});
				}
				getTrackPlay();			
		});


		//Update Current Speed
		document.addEventListener("DOMContentLoaded", function(event) {

		    const getCartReading = function() {
		    	try{
				      fetch(`/cartData`)  // send request to route /cartData
				        .then((resp) => resp.json())
				        .then(function(response) {
				        	console.log(response.startPos);
				        	console.log(response.endPos);
				          document.getElementById('currentSpeed').innerHTML = response.vel;
				          document.getElementById('currentPos').innerHTML = response.pos;
				      });
		    	} catch (error) {
		    		updateDebugWindow("Connection lost");
		    	}
		    }

		    getCartReading();
		    setInterval(getCartReading, 100);  //request for update every 100 ms
		});

		//Find ODrive Function
		const findODriveBtn = document.getElementById('findOdriveBtn');

		findODriveBtn.addEventListener('click', function (event) {
			updateDebugWindow("Finding an ODrive...");
			fetch('/findOdrive/')
				.then(response => response.text())
				.then(result => {
					if(result == "No ODrives found.") {
						updateDebugWindow("No ODrives found");
					}
					else if(result == "Unknown error, check source.") {
						updateDebugWindow("Unknown error, check source.");
					}
					else{
						ODriveName = result
						console.log(result);
						document.getElementById('connectedODrive').innerHTML = ODriveName;
						updateDebugWindow(ODriveName);
					}
				})
				.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
				});
		});

		//Calibrate Function
		const calibrateBtn = document.getElementById('calibrateBtn');

		calibrateBtn.addEventListener('click', function (event) {
			if(ODriveName == "no connection"){
				updateDebugWindow("No ODrive connected.");
			}
			else{
				fetch('/calibrate/')
				.then(response => response.text())
				.then(result => {
					updateDebugWindow("Starting calibration...");
					updateDebugWindow(result);
				})
				.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
				});
			}
		});

		//SetStart Function
		const setStartBtn = document.getElementById('setStartBtn');

		setStartBtn.addEventListener('click', function (event) {
			if(ODriveName == "no connection"){
				updateDebugWindow("No ODrive connected.");
			}
			else{
				fetch('/setStart/')
				.then(response => response.text())
				.then(result => {
					updateDebugWindow("Track start is set");
					updateDebugWindow("Track distance equals to " + result + "m");
					document.getElementById('trackDistance').innerHTML = result;
					// updateDebugWindow(result);
				})
				.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
				});
			}
		});

		//SetEnd Function
		const setEndBtn = document.getElementById('setEndBtn');

		setEndBtn.addEventListener('click', function (event) {
			if(ODriveName == "no connection"){
				updateDebugWindow("No ODrive connected.");
			}
			else{
				fetch('/setEnd/')
				.then(response => response.text())
				.then(result => {
					updateDebugWindow("Track end is set");
					updateDebugWindow("Track distance equals to " + result + "m");
					document.getElementById('trackDistance').innerHTML = result;
					// updateDebugWindow(result);
				})
				.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
				});
			}
		});
		
		//engage Function
		const engageBtn = document.getElementById('engageBtn');

		engageBtn.addEventListener('click', function (event) {
			if(ODriveName == "no connection"){
				updateDebugWindow("No ODrive connected.");
			}
			else{
				fetch('/engage/')
				.then(response => response.text())
				.then(result => {
					updateDebugWindow(result);
				})
				.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
				});
			}
		});
		
		//idle Function
		const idleBtn = document.getElementById('idleBtn');

		idleBtn.addEventListener('click', function (event) {
			if(ODriveName == "no connection"){
				updateDebugWindow("No ODrive connected.");
			}
			else{
				fetch('/idle/')
				.then(response => response.text())
				.then(result => {
					updateDebugWindow(result);
				})
				.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
				});
			}
		});

		//ResetPosition Function
		const resetPosBtn = document.getElementById('resetPosBtn');

		resetPosBtn.addEventListener('click', function (event) {
			if(ODriveName == "no connection"){
				updateDebugWindow("No ODrive connected.");
			}
			else{
				fetch('/resetPos/')
				.then(response => response.text())
				.then(result => {
					updateDebugWindow(result);
				})
				.catch(error => {
					console.error('Error:', error);
					updateDebugWindow('Error:', error);
				});
				currPosition = 0
			}
		});
   	
	</script>

</body>
</html>
