<!DOCTYPE html>
<html>
<head>
	<title>Interface</title>
	<link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>
<body>
	<nav class="global-header hidden-print">
			<div class="container">
			<a class="navbar-brand"><img class="logo" src="https://stijl.kuleuven.be/2016/img/svg/logo.svg" width="157" height="56"></a>
			</div>
	</nav><br>
	<div id="main">
		<div id="controls">
			<div id="setupDiv">
			    <form action="/findOdrive/" method="POST">
					<button class="button findOdriveBtn" name="findOdriveBtn" type="submit">FindOdrive</button>
				</form><br>
				<form action="/calibrate/" method="POST">
					<button class="button calibrateBtn" name="calibrateBtn" type="submit">Calibrate</button>
				</form>
			</div><br>
			<div id="startStopDiv">
				<form action="/start/" method="post" id="startForm">
					<button class="button startBtn" name="startBtn" type="submit">Start</button>
				</form><br>
				<form action="/stop/" method="post" id="stopForm">
					<button class="button stopBtn" name="stopBtn" type="submit">Stop</button>
				</form><br>
				<form>
					<span class="label">Stop</span>
					<label class="switch">
					  	<input type="checkbox" id="toggleSlider">
					  	<span class="slider round"></span>
					</label>
					<span class="label">Start</span>
				</form>
			</div><br> 
			<div id="speedDiv">
				<b>Speed</b>
				<form action="/speed/" method="POST">
					<input class="speed" type="text" id="speed" name="speed" value="{{ speed }}">m/s
				</form>
			</div><br>
			<!-- <h4>{{ forward_message }}</h4> -->
		</div>

		<div id="trackBuilder">
			<!--Trackbuilder-->
			<div id="trackRecorder">
				<form action="/recordTrack/" method="POST">
					<button class="button recordTrackBtn" name="recordTrackBtn" type="submit">Record track</button>
				</form><br>
			</div>
			<div id="trackValues">
				<h4><u>Current values</u></h4>
				Track distance = {{ track_distance}} m <br>
				Current speed = {{ current_speed }} m/s <br>
			</div>
			<div id="trackConditions">
				<h4>Conditions</h4>
				<div id="conditions">
					<div id="cond" class="cond-layout">
						<u>Condition 1</u><br>
						Min distance: <form data-category="1" action="/minDistance/" method="POST">
						<input class="condValue" type="text" id="con-minDistance" name="cond-minDistance" value="{{ min_distance }}">m</form><br>
						Max distance: <form data-category="2" action="/maxDistance/" method="POST">
						<input class="condValue" type="text" id="cond-maxDistance" name="cond-maxDistance" value="{{ max_distance }}">m</form><br>
						Speed: <form data-category="3" action="/speedDistance/" method="POST">
						<input class="condValue" type="text" id="cond-speedDistance" name="cond-speedDistance" value="{{ speed_distance }}">m/s</form>
					</form>
					</div>
				</div>
				<div id="buttonsCond">
					<button class="button addCond" type="submit" name="addCond" onclick="CreateNewDom()">Add condition</button>
					<button class="button setCond" type="submit" name="setCond" onclick="SetValues()">Set conditions</button>
				</div>
			</div>
			
		</div>

		<div id="debugWindow"></div>
	</div>

	<script>
		document.getElementById("startForm").style.display = "none";
		document.getElementById("stopForm").style.display = "none";
	  	// JavaScript code to update the debugging window
	  	function updateDebugWindow(message) {
	    	var debugWindow = document.getElementById("debugWindow");
	    	debugWindow.innerHTML += message + "<br>";

	    	// Scroll to the bottom of the window
	    	debugWindow.scrollTop = debugWindow.scrollHeight;
	  	}

	  	// Fetch debug messages from the server and update the window
	  	fetch('/debug_messages/')
	    	.then(response => response.json())
	    	.then(data => {
	      		data.forEach(message => {
	        	updateDebugWindow(message);
	      	});
	    })
	    .catch(error => console.log(error));

	   	
		var toggleSlider = document.getElementById("toggleSlider");
		var startForm = document.getElementById("startForm");
		var stopForm = document.getElementById("stopForm");

		// Retrieve the slider state from localStorage
		var sliderState = localStorage.getItem("sliderState");
		if (sliderState === "checked") {
			toggleSlider.checked = true;
		} else {
			toggleSlider.checked = false;
		}

		toggleSlider.addEventListener("change", function() {
		if (toggleSlider.checked) {
			//toggleSlider.checked = true;
				startForm.submit();
				localStorage.setItem("sliderState", "checked");
		} else {
			//toggleSlider.checked = false;
				stopForm.submit();
				localStorage.setItem("sliderState", "unchecked");
		}
		});

		function CreateNewDom() {
			var DOMCondition = document.createElement("div");
			var DOMConditionEx = document.getElementById("cond");
			DOMCondition.innerHTML = DOMConditionEx.innerHTML;
			DOMCondition.classList.add("cond-layout");
			document.getElementById("conditions").appendChild(DOMCondition);
		}

		const form = document.querySelectorAll('form');
		function SetValues() {
			const data = [];
			for(let i=0; i<form.length; i++) {
				const elements = form[i].elements;
				data.push({form: form[i].getAttribute('data-category'), inputData: {}});
				for(let j=0; j<elements.length; j++) {
					if(elements[j].class == 'condValue') {
					  data[i].inputData[[elements[j].name]] = elements[j].value;
					}
				}
			}
  			console.log(data);
		}
	   	
	</script>

</body>
</html>
